<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>

	<string>abort</string>
	<string>all</string>
	<string>alter</string>
	<string>analyze</string>
	<string>and</string>
	<string>as</string>
	<string>asc</string>
	<string>attach</string>
	<string>begin</string>
	<string>between</string>
	<string>by</string>
	<string>case</string>
	<string>cast</string>
	<string>collate</string>
	<string>commit</string>
	<string>conflict</string>
	<string>create</string>
	<string>cross</string>
	<string>current_date</string>
	<string>current_time</string>
	<string>current_timestamp</string>
	<string>database</string>
	<string>delete</string>
	<string>desc</string>
	<string>detach</string>
	<string>distinct</string>
	<string>drop</string>
	<string>else</string>
	<string>end</string>
	<string>escape</string>
	<string>except</string>
	<string>exists</string>
	<string>explain</string>
	<string>fail</string>
	<string>from</string>
	<string>glob</string>
	<string>group</string>
	<string>having</string>
	<string>ignore</string>
	<string>in</string>
	<string>index</string>
	<string>indexed</string>
	<string>inner</string>
	<string>insert</string>
	<string>intersect</string>
	<string>is</string>
	<string>isnull</string>
	<string>join</string>
	<string>left</string>
	<string>like</string>
	<string>limit</string>
	<string>match</string>
	<string>natural</string>
	<string>not</string>
	<string>notnull</string>
	<string>null</string>
	<string>offset</string>
	<string>on</string>
	<string>order</string>
	<string>outer</string>
	<string>pragma</string>
	<string>raise</string>
	<string>recursive</string>
	<string>regexp</string>
	<string>reindex</string>
	<string>release</string>
	<string>replace</string>
	<string>rollback</string>
	<string>savepoint</string>
	<string>select</string>
	<string>table</string>
	<string>then</string>
	<string>transaction</string>
	<string>trigger</string>
	<string>union</string>
	<string>update</string>
	<string>using</string>
	<string>vacuum</string>
	<string>values</string>
	<string>view</string>
	<string>virtual</string>
	<string>when</string>
	<string>where</string>
	<string>with</string>
</array>
</plist>
